@import url("https://fonts.googleapis.com/css2? family-poppins:weight@200;300;400;500;600;700;900 &display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --tenne-tawny: #d65108;
  --tenne-tawny-dark: #b54507;
}

body {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.7;
}
.btn {
  cursor: pointer;
  font-size: 2rem;
  font-family: inherit;
  outline: 0;
}
.text {
  opacity: 1;
}
.title {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.container {
  min-height: 100vh;
}
.meal-wrap {
  max-width: 1280px;
  background: #fff;
  text-align: center;
  padding: 2rem;
  margin: 0 auto;
}
.meal-search {
  margin: 2rem 0;
}
.meal-search-box {
  margin: 1.2rem 0;
  display: flex;
  align-items: stretch;
}
.search-content,
.search-btn {
  width: 100%;
}
.search-content {
  padding: 0 1rem;
  font-size: 1.1rem;
  font-family: inherit;
  outline: o;
  border: 1px solid var(--tenne-tawny);
  color: var(--tenne-tawny);
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}
.search-content::placeholder {
  color: var(--tenne-tawny);
}

.search-btn {
  width: 55px;
  height: 55px;
  font-size: 1.8rem;
  background: var(--tenne-tawny);
  color: #fff;
  border: none;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
.search-btn:hover {
  background: var(--tenne-tawny-dark);
}

.meal-result {
  margin-top: 3rem;
}
#meal {
  margin: 2.3rem 0;
}
.meal-item {
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
  margin: 2rem 0;
}
.meal-img img {
  width: 100%;
  display: block;
}
.meal-name {
  padding: 1.5rem 0.5rem;
}
.meal-name h3 {
  font-size: 1.4rem;
}
.recipe-btn {
  text-decoration: none;
  background: var(--tenne-tawny-dark);
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.75rem 0;
  display: block;
  width: 175px;
  margin: 1rem auto;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
.recipe-btn:hover {
  background: var(--tenne-tawny-dark);
}
  .recipe-close-btn{
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.8rem;
    background: #fff;
    border: none;
    width: 35px;
    height: 35px;
     display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}

/* meal-details */
.meal-details {
  top: 50%;
  left: 50%;
  position: fixed;
  color: #fff;
  background: var(--tenne-tawny);
  width: 30%;
  height: 60%;
  overflow-y: scroll;
  padding: 2rem 0;
  display: none;
  transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;

  
}
.meal-details::-webkit-scrollbar-thumb {
  background: #f0f0f0;
  border-radius: 2rem;
}
.meal-details-content {
  margin: 2rem;
  background-color: #d65108;
}
.recipe-meal-img img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.notFound {
  color: var(--tenne-tawny);
  font-size: 2rem;
  font-weight: 500;
  width: 100%;
  
}

.showRecipe{
    display: block;
}
/* .hide {
    display: none;
    visibility: hidden;
} */

.recipe-close-btn{
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.8rem;
    background: #fff;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}

@media screen and (min-width: 768px){
    #meal{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }
    .meal-item{
        margin: 0;
    }
    .meal-details{
        width: 500px;
    }
      .meal-search-box{
        width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
}

